# Gradle
.gradle/
build/
app/build/

# IntelliJ/Android Studio
.idea/
*.iml
*.iws
*.ipr

# Android
captures/
.externalNativeBuild/
.cxx/
/local.properties
debug.keystore
*.jks
*.keystore
*.aab
*.apk

# Kotlin/Multiplatform
.kotlin/

# Secrets & Environment
.env
.env.*
.artifacts/

# OS
.DS_Store
Thumbs.db

# Roborazzi
**/screenshots_diff/
**/screenshots_preview/
